/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 31/03/2023, 08:41:17
    Author     : aluno
*/
/**Tags**/
body{
    width: 100%;
    min-width: 640px; 
}
h2{
    text-align: center;
}
/**Classes**/